.container__conteudo {
  margin: 0 1em;
}

.conteudo__cabecalho-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1em 0;
  width: 100%;
}

.conteudo__titulo {
  font-weight: 700;
  font-size: 22px;
  color: var(--cor-cinza);
}

.conteudo__ver-tudo {
  text-decoration: none;

  font-weight: 700;
  font-size: 14px;
  color: var(--cor-azul);

  padding-right: 1.2em;

  background: url("../../img/icones/icone-seta.svg") no-repeat;
  background-position: right;
}

.conteudo__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  margin-bottom: 1em;
  width: 100%;
}



/*? Responsividade Tablet 768px */
@media screen and (min-width: 768px) {
  .container__conteudo {
    padding: 0 2em;
  }
}


/*? Responsividade Desktop 1440px*/
@media screen and (min-width: 1440px) {
  .container__conteudo {
    margin: 0 10%;
  }
}