.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__produtos-adicionar {
  padding: 1em;
}

.container__produtos-adicionar--titulo {
  font-size: 22px;
  font-weight: 700;
  color: var(--cor-cinza);

  margin-bottom: 1em;
}

.container__campos {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.campo__titulo {
  background-color: var(--cor-branca);

  border-radius: 4px 4px 0 0;

  font-size: 12px;
  color: var(--cor-cinza-claro);
}

.campo__entrada {
  margin-bottom: 1em;

  border-radius: 0 0 4px 4px;
}

.campo__titulo,
.campo__entrada {
  font-weight: 400;

  border: 1px solid var(--cor-branca);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

  padding: .5em;
}

.campo__entrada--seletor {
  background-color: var(--cor-branca);
}


/* TODO| Detalhe do produto */
.detalhe-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalhe-produto--imagem {
  width: 100%;
  height: 192px;

  object-fit: cover;
  object-position: center;
}

.detalhe-produto--textos {
  padding: 1em;
}

.detalhe-produto--titulo {
  font-weight: 500;
  font-size: 22px;

  margin-bottom: .5em;
}

.detalhe-produto--preco {
  font-weight: 700;
  font-size: 16px;

  margin-bottom: .5em;
}

/*? Responsividade Tablet 768px */
@media screen and (min-width: 768px) {
  .container__detalhe-produto {
    display: flex;

    padding: 2em 3em;
  }

  .detalhe-produto--imagem {
    width: 230%;
  }
}

/*? Responsividade Tablet 1440px */
@media screen and (min-width: 1440px) {
  .container__detalhe-produto {
    margin: 0 10%;
    padding: 2em 2em;
  }

  .detalhe-produto--imagem {
    width: 160%;
    height: 50vh;
  }

  .detalhe-produto--titulo {
    font-size: 52px;
  }

  .detalhe-produto--descricao {
    font-size: 16px;
  }
}

/* TODO| Fim detalhe produto */

/*? Responsividade Tablet 768px */
@media screen and (min-width: 768px) {
  .container__produtos-adicionar--titulo {
    margin: 1em 0;
  }
}

/*? Responsividade Tablet 1440px */
@media screen and (min-width: 1440px) {
  .container__produtos-adicionar {
    width: 559px;

    padding: 5% 0;
  }

  .container__produtos-adicionar--titulo {
    font-size: 32px;
  }
}