.rodape {
  background-color: var(--cor-azul-claro);
}

.container__rodape {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  margin: 1em;
}

.rodape__institucional {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1em auto;
}

.rodape__logo {
  width: 174px;
  margin: 1em 0;
}

.lista__itens {
  text-align: center;

  margin-bottom: 2em;
}

.item {
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;
  color: var(--cor-cinza);
}

.rodape__fale-conosco {
  display: flex;
  flex-direction: column;

  margin: 1em auto;
  width: 100%;
}

.fale-conosco__titulo {
  font-weight: 700;
}

.fale-conosco__container {
  display: flex;
  flex-direction: column;

  margin: .5em 0;
}

.container__titulo {
  background-color: var(--cor-branca);

  font-size: 12px;
  font-weight: 400;
  color: var(--cor-cinza-claro);

  border: 1px solid var(--cor-branca);
  border-radius: 4px 4px 0 0;

  height: 14px;
  padding: 1em;
}

.container__entrada {
  border: 1px solid var(--cor-branca);
  border-radius: 0 0 4px 4px;

  padding: 1em;
}

.sombra {
  border-bottom: 2px solid #C8C8C8;
}

.rodape__desenvolvedor {
  background-color: var(--cor-branca);

  text-align: center;

  padding: 3.375em 2em;
}

.desenvolvedor__texto {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--cor-cinza);
}



/*? Responsividade Tablet 768px */
@media screen and (min-width: 768px) {
  .container__rodape {
    flex-direction: row;
  }

  .lista__itens {
    text-align: left;
  }

  .rodape__logo {
    margin: 1em 0;
  }

  .rodape__fale-conosco {
    margin: 1em;
    width: calc(100% - 19em);
  }

  .fale-conosco__input {
    width: 434px;
  }

  .rodape__institucional {
    margin: 0 2em;
  }
}


/*? Responsividade Desktop 1440px */
@media screen and (min-width: 1440px) {
  .container__rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 10%;
  }

  .rodape__logo {
    margin: 0 5em;
  }

  .rodape__institucional {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .rodape__fale-conosco {
    margin: 1em;
    width: calc(100% - 40em);
  }

  .fale-conosco__input {
    width: 560px;
  }

}